.page_header {
  text-align: center;
  color: purple;
  font-size: 50px;
}
#main_page {
  display: flex;
}
#left_side {
  width: 50%;
}
#right_side {
  width: 50%;
  background-color: rgb(226, 215, 201);
  text-align: center;
}

#foodExpenses,
#rentExpenses,
#clothesExpenses,
#expensesOutput,
#balance,
#saving_amount {
  margin: 10px;
}
button {
  background-color: rgb(51, 145, 233);
  color: white;
  margin: 20px;
  padding: 10px;
}
